body {
    background: linear-gradient(blue,cyan);
    justify-content: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 100vh;
}
form {
    align-items: center;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
    font-size: large;
    font-style: oblique;
    font-weight: 700;
    height: 70vh;
    width: 30%;
    background-color: black;
    color:white;

}
button {
    background-color:aqua;
    color:black;
    cursor: pointer;
    height: 45px;
    width: 130px;
    border-radius: 20px;
    font-size: large;
    font-weight: 600;
}

a {
    color: cyan;
}
label {
    width: 100px;
    display: inline-block;
}
input {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}
button:hover {
    background-color: rgb(0, 255, 64);
}
button:active {
    background-color: chartreuse;
}


